PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgrespassword
DB_NAME=exercisedb

# ExerciseDB API Configurations (RapidAPI)
EXERCISE_DB_API_URL=https://exercisedb.p.rapidapi.com
RAPIDAPI_KEY=your_rapidapi_key_here
RAPIDAPI_HOST=exercisedb.p.rapidapi.com
